body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.dots {
    display: flex;
}