@font-face {
    font-family: sofiapro;
    src: url(./fonts/sofiapro-light.otf);
  }

body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 40px;
    font-family: 'Jost';
}

/*HEADER***************/
.container-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 800px;
    font-family: 'Jost';
}

h1 {
    font-size: 30px;
}

h1 > span {
    color: #C8815F;
}

nav {
   display: flex;
   gap: 20px;
   
}

nav > a {
    color: black;
    text-decoration: none;
    font-family: 'Jost';
    font-size: 14px;

}

.menu {
    display: flex;
    gap: 20px;
}

.menu > a {
    color: black;
    text-decoration: none;
}


/*MAIN******************/
.container-main {
    display: flex;
    /* align-items: center; */
}

.leftmain {
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 10px;
    margin-top: 94px;
}

h5 {
    font-size: 15px;
    font-family: 'Jost';
    
}

p {
    font-size: 37px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: sofiapro;
    
}

button {
    margin-top: 20px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.rightmain {
    display: flex;
    flex-direction: column;
    width: 476px;
    position: relative;
}
.shoes {
    width: 500px;
}

.shadow {
    width: 481px;
    margin-left: 33px;
    margin-top: -42px;
}

.nykenair {
    position: absolute;
    left: 53px;
    width: 320px;
    height: 202px;
}

/*FOOTER****************/
.container-footer {
    display: flex;
    justify-content: center;
   
}

.dots {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 29px;
    gap: 10px;
}

.circle {
        position: absolute;
        font-size: 28px;
        border-radius: 50%;
        padding: 6px;
        border: 1px solid #000;
        color: #000;
        left: -2px;
        bottom: 7px;
        
}


